
#nav {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

#nav h3 {
    margin: 0;
    font-size: 1.5em;
    color: white;
}

    .categories {
    display: flex;
}

.Option, .ActiveOption {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.Option:hover {
    background-color: #555;
    }

    .ActiveOption {
    background-color: #555;
    }